body,
div {
  transition: background-color 0.8s ease;
}
h1,
p {
  transition: color 0.8s ease;
}

/* div {
  transition: border-color 0.4s ease;
} */

:root {
  /* Base (light) mode */
  --bg-color: #fff4e9;
  --type-color: #202020;
  --type-color-comp: #fff4e9;
  --type-color-darker: #101010;
  --type-color-lighter: #202020c0;
  --type-color-lightest: #0a0a0a80;
  --border-color: #202020;
  --accent: #202020;
}

[data-wf-mode='base-2'] {
  --bg-color: #fff4e9;
  --type-color: #202020;
  --type-color-comp: #fff4e9;
  --type-color-darker: #101010;
  --type-color-lighter: #202020c0;
  --type-color-lightest: #0a0a0a80;
  --border-color: #202020;
  /* --accent: #ff7373; */
  --accent: #1500ff;
}

[data-wf-mode='dark'] {
  --bg-color: #101010;
  --type-color: #fff4e9;
  --type-color-comp: #101010;
  --type-color-darker: #fff4e9;
  --type-color-lighter: #fff4e9bf;
  --type-color-lightest: #fff4e9fb;
  --border-color: #fff4e9;
  --accent: #ffe288;
}

[data-wf-mode='dark-2'] {
  --bg-color: #101010;
  --type-color: #fff4e9;
  --type-color-comp: #101010;
  --type-color-darker: #fff4e9;
  --type-color-lighter: #fff4e9bf;
  --type-color-lightest: #fff4e9fb;
  --border-color: #fff4e9;
  --accent: #08ee00;
}

body.no-scroll {
  cursor: none;
  overflow: hidden;
  height: 100vh;
}

.metadata-p {
  font-family: 'Otbrut Mono';
}

.canvas__wrapper {
  width: 90svh;
  height: 90svh;
}

#illy-canvas {
  width: 100%;
  height: 100%;
}

#hero-canvas {
  width: 100%;
  height: 100%;
}

#hero-canvas-mobile {
  width: 100%;
  height: 100%;
}

.url-input {
  width: 90%;
}

#qrCodeURL {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.rotation-letter-wrapper {
  perspective: 800px; /* depth of the 3D effect */
  display: inline-block;
}

.mouse-ball {
  width: 16px;
  height: 16px;
  background-color: #fffbf6;
  /* background-color: #ff5572; */
  border-radius: 30px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: difference;
}

.hero-word {
  border: 1px solid black;
}

/* WORK CANVAS */

#about-canvas {
  width: 100%;
  height: 100%;
}

#work-padmi-canvas {
  width: 100%;
  height: 100%;
}

#work-liuba-canvas {
  width: 100%;
  height: 100%;
}

#work-barrrena-canvas {
  width: 100%;
  height: 100%;
}

#work-cachanchan-canvas {
  width: 100%;
  height: 100%;
}

#work-lirios-canvas {
  width: 100%;
  height: 100%;
}

#work-posters-canvas {
  width: 100%;
  height: 100%;
}

input:focus,
textarea:focus {
  border-color: #0000ff;
  box-shadow: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f7f0e8 inset !important;
  box-shadow: 0 0 0 1000px #f7f0e8 inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s;
}
