.canvas__wrapper {
  width: 90svh;
  height: 90svh;
}

#illy-canvas {
  width: 100%;
  height: 100%;
}

.url-input {
  width: 90%;
}

#qrCodeURL {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}
